@import 'src/styles/variables';

.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 25vw;
	min-width: 300px;
	margin: 12px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	background: $white;
	filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.15));
	border-radius: 8px;

	overflow: scroll;
}

.top-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 24px;
	font-weight: 600;
}

.button-close {
	padding: 10px;
	border-radius: 50%;
	background: none;
	align-self: flex-end;
}

.cross-svg {
	width: 20px;
	height: 20px;
	fill: $grey-2;
}

.button {
	@include button;
	@include btn-cta;
}

.modal {
	background: white;
	padding: 24px;

	.input {
		max-width: 100%;
	}
}

.lunch-groups {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}
