@import 'src/styles/variables';

.wrapper {
	@include grid;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	transition-duration: 0.3s;
	transition-property: transform;

	&:not(.visible) {
		transform: translateY(-100%);
	}

	&.success {
		--bg: #{$green};
	}

	&.error {
		--bg: #{$melon};
	}

	&::before {
		grid-row: 1;
		grid-column: 4 / -4;

		content: '';
		display: block;
		background-color: var(--bg);
		border: 1px solid #000;
		border-top: none;
	}
}

.text {
	grid-row: 1;
	grid-column: 4 / -5;

	padding: 15px;
	font-size: 16px;
	color: #000;
	text-align: center;
}

.close {
	grid-row: 1;
	grid-column: -5;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 1px;
		height: 12px;
		margin: auto;
		background-color: currentColor;
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
