@import 'src/styles/variables';

.wrapper {
	background: white;
	padding: 8px;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}

.schedule {
	font-weight: bold;
	color: $blue;
	text-align: center;
}

.users {
	.users-title {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
	}
}

.button {
	@include button;
	@include btn-cta;
	padding: 8px;
	margin-top: 10px;
	display: block;
	max-width: unset;
	text-align: center;
}
