@mixin button {
	max-width: fit-content;
	padding: 16px 30px;
	font-weight: 600;
	border-radius: 6px;
}

@mixin btn-cta {
	background: $melon;
	color: #FFFFFF;

	&:hover {
		background: rgba($melon, .8);
	}
}

@mixin btn-secondary {
	border: 1px solid $melon;
	color: $melon;
}

@mixin btn-tertiary {
	background: rgba(white, .2);
	color: #FFFFFF;
}

@mixin grid {
	display: grid;
	grid-template-columns: repeat($columnsCount, 1fr);
	column-gap: 20px;
}
