@import './mixins';

// COLORS
$dark-blue: #050517;
$pink: #fdc5f5;
$blue: #5171a5;
$melon: #f18669;
$green: #568259;
$white: #f8f8f8;
$link: #58a2f9;
$yellow: #f1c369;
$grey-1: #cacaca;
$grey-2: #333333;

// FONTS
$openSans: 'Open Sans';

// Grids
$columnsCount: 14;
