@import './mixins';

// COLORS
$dark-blue: #050517;
$pink: #fdc5f5;
$blue: #5171a5;
$melon: #f18669;
$green: #568259;
$white: #F8F8F8;
$link: #58A2F9;
$yellow: #F1C369;

// FONTS
$openSans: 'Open Sans';

// Grids
$columnsCount: 14;
