@import 'src/styles/variables';

.wrapper {
	--pin-size: 30px;
	--border-size: 2px;
	width: var(--pin-size);
	height: var(--pin-size);
	border-radius: 50%;
	border: var(--border-size) solid white;
	user-select: none;
	cursor: pointer;
	filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));

	transform: translate(-50%, -50%);

	&.big {
		--pin-size: 50px;
		--border-size: 4px;
	}

	&:hover {
		.infos {
			display: block;
		}
	}
}

.infos {
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	right: 100%;
	margin-right: 10px;
	z-index: 10;
	min-width: fit-content;
	max-width: 200px;
	top: 0;
	background: white;
	display: none;
}

.name {
	display: inline-block;
	white-space: pre;
	font-size: 16px;
}
