@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');
@import 'src/styles/variables';

.main-wrapper {
	height: 100vh;

	font-family: $openSans;
	background: $white;
	color: $dark-blue;
	font-size: 16px;
}