.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: opacity 0.1, transform 0.1s;
}
.slide-fade-enter-from {
    opacity: 0;
    transform: translateX(-30%);
}

.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(30%);
}

.slide-fade-reverse-enter-active,
.slide-fade-reverse-leave-active {
    transition: opacity 0.1s, transform 0.1s;
}
.slide-fade-reverse-enter-from {
    opacity: 0;
    transform: translateX(30%);
}

.slide-fade-reverse-leave-to {
    opacity: 0;
    transform: translateX(-30%);
}

.scale-fade-enter-active,
.scale-fade-leave-active {
    transition: opacity 0.1s, transform 0.1s;
}

.scale-fade-enter-from {
    opacity: 0;
    transform: scale(0.8);
}

.scale-fade-leave-to {
    opacity: 0;
    transform: scale(0.8);
}
