@import '/src/styles/variables';

.main {
  background: #FFF7F4;

  header {
    border-bottom: 1px solid black;

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 0;

      .nav {
        display: flex;
        align-items: center;
        gap: 24px;

        a:not(a:last-of-type)::after {
          content: '|';
          margin-left: 24px;
        }

        a:last-of-type {
          margin-right: 32px;
        }
      }
    }
  }
}

.logo {
  height: 36px;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  padding: 96px 0;

  &.main-hero {
    background: url('/images/main-hero.png') no-repeat 80% 50%;
    padding-top: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    max-width: 600px;
    margin: 64px 0 32px;

    span {
      color: #F18669;
    }
  }

  h2 {
    font-size: 42px;
    font-weight: 700;
    max-width: 600px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  p.subtitle {
    color: rgba(0,0,0,.6);
    font-size: 18px;
    font-weight: 700;
    max-width: 400px;
  }

  .buttons-list {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.row-section {
  display: flex;
  justify-content: space-between;
  gap: 128px;
}

.usecase {
  img {
    width: 50%;
  }

  .content {
    width: 50%;
  }

  p {
    line-height: 150%;
    margin-bottom: 64px;
  }
}

.fonctionnalite {
  padding-top: 128px;

  h3 {
    font-size: 36px;
  }

  .list-use {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    margin-top: 64px;

    article {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 300px;

      h4 {
        font-size: 20px;
        font-weight: 700;
        color: black;
      }

      p {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

.users {
  .userType {
    width: 48%;
    border: 1px solid black;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
      font-size: 22px !important;
      margin-bottom: 0 !important;
    }

    &:first-child {
      background: rgba(241, 134, 105, 0.2);
    }

    &:last-child {
      background: white;
    }
  }
}